@using System.Net.Cache
@using System.Net.Configuration
@using domaine.entities
@using SkiingTheWorld_PI.Domaine.Entities
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<!-- BREADCRUMBS -->
<section class="breadcrumb ski parallax margbot50">

    <!-- CONTAINER -->
    <div class="container">
        <h2>Women</h2>
    </div><!-- //CONTAINER -->
</section><!-- //BREADCRUMBS -->
<!-- SHOP BLOCK -->
<section class="shop" style="padding-top: 2%">

    <!-- CONTAINER -->
    <div class="container">

        <!-- ROW -->
        <div class="row">

            <!-- SIDEBAR -->
            <div id="sidebar" class="col-lg-3 col-md-3 col-sm-3 padbot50">
                <div class="sidepanel widget_search">
                    <form class="search_form" action="javascript:void(0);" method="get" name="search_form">
                        <input id="search_input" type="text" name="Search..." value="Search..." onfocus="if (this.value == 'Search...') this.value = '';" onblur="if (this.value == '') this.value = 'Search...';">
                    </form>
                </div>

                <!-- CATEGORIES -->
                <div class="sidepanel widget_categories">
                    <h3>Product Categories</h3>
                    <ul>

                        @foreach (souscategorie sc in ((List<souscategorie>) ViewBag.sCats))
                        {
                            <li><a href="@Url.Action("SubCategory", new {cat = @Request.QueryString["cat"], scat = @sc.Id})">@sc.Libelle</a></li>
                        }

                    </ul>
                </div><!-- //CATEGORIES -->

            </div><!-- //SIDEBAR -->
            <!-- SHOP PRODUCTS -->
            <div class="col-lg-9 col-sm-9 col-sm-9 padbot20">



                <!-- SORTING TOVAR PANEL -->
                <div class="sorting_options clearfix">

                    <!-- COUNT TOVAR ITEMS -->
                    <div class="count_tovar_items">
                        <p>Sweaters</p>
                        <span>@Html.Raw(Model.Count)</span>
                    </div><!-- //COUNT TOVAR ITEMS -->
                    
                    <!-- PRODUC SIZE -->
                    <div id="toggle-sizes">
                        <a class="view_box active" href="javascript:void(0);"><i class="fa fa-th-large"></i></a>
                        <a class="view_full" href="javascript:void(0);"><i class="fa fa-th-list"></i></a>
                    </div><!-- //PRODUC SIZE -->
                </div><!-- //SORTING TOVAR PANEL -->
                <!-- ROW -->
                <div class="row shop_block" id="product_container">

                   

                </div><!-- //ROW -->

                <hr>

                <div class="clearfix">
                    

                    <a class="show_all_tovar" href="javascript:void(0);">show all</a>

                </div>

            </div><!-- //SHOP PRODUCTS -->
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</section><!-- //SHOP -->

@section scripts
{
    <script>

        
        $.ajax({
            url: '@Url.Action("RenderProducts", "Shop")',
            type: 'POST',
            data: {
                cat:'@Request.Params["cat"]'
            },
            success:function(data) {
                $('#product_container').html(data);
            }
        });

        $('#search_input').change(function () {
            $(this).focusout();
            $.ajax({
                url: '@Url.Action("RenderProducts", "Shop")',
                type: 'POST',
                data: {
                    cat: '@Request.Params["cat"]',
                    search:$('#search_input').val()
                },
                success: function (data) {
                    $('#product_container').html(data);
                }
            });
        });
    </script>
}
