@using domaine.entities
@model domaine.entities.product
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@section css
{
    
<link href="~/Content/css/toastr.min.css" rel="stylesheet" />
}

<!-- BREADCRUMBS -->
<section class="breadcrumb parallax margbot30"></section>
<!-- //BREADCRUMBS -->
<!-- TOVAR DETAILS -->
<section class="tovar_details padbot70">

    <!-- CONTAINER -->
    <div class="container">

        <!-- ROW -->
        <div class="row">

            <!-- SIDEBAR TOVAR DETAILS -->
            <div class="col-lg-3 col-md-3 sidebar_tovar_details">
                <h3><b>other products</b></h3>

                <ul class="tovar_items_small clearfix">
                    @foreach (product item in ((List<product>) ViewBag.others))
                    {
                        <li class="clearfix">
                            <img class="tovar_item_small_img" src="@Url.Content("~/Content/Upload/")@Html.DisplayFor(modelItem=>item.Photo)" alt=""/>
                            <a href="@Url.Action("Product",new {id=item.Reference})" class="tovar_item_small_title">@Html.Raw(item.Name)</a>
                            <span class="tovar_item_small_price">@Html.Raw(item.price)</span>
                        </li>
                    }
                    
                    
                </ul>
            </div><!-- //SIDEBAR TOVAR DETAILS -->
            <!-- TOVAR DETAILS WRAPPER -->
            <div class="col-lg-9 col-md-9 tovar_details_wrapper clearfix">
                <div class="tovar_details_header clearfix margbot35">
                    <h3 class="pull-left"><b>@Html.Raw(Model.sousCategorieProd.Libelle)</b></h3>

                    
                </div>

                <!-- CLEARFIX -->
                <div class="clearfix padbot40">
                    <div class="tovar_view_fotos clearfix">
                        <div id="slider2" class="flexslider">
                            <ul class="slides">
                                <li><a href="javascript:void(0);"><img src="@Url.Content("~/Content/Upload/")@Html.DisplayFor(modelItem=>Model.Photo)" alt="" /></a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="tovar_view_description">
                        <div class="tovar_view_title">@Html.Raw(Model.Name)</div>
                        <div class="tovar_article">Ref : @Html.Raw(Model.Reference)</div>
                        <div class="clearfix tovar_brend_price">
                            <div class="pull-left tovar_brend">@Html.Raw(Model.Modele) - @Html.Raw(Model.Modele)</div>
                            <div class="pull-right tovar_view_price">Dt @Html.Raw(Model.price)</div>
                        </div>
                        <div class="tovar_color_select">
                            <p>Color</p>
                            <a style="background-color: @Html.Raw(Model.Color)" href="javascript:void(0);"></a>
                        </div>
                        <div class="tovar_size_select">
                            <div class="clearfix">
                                <p class="pull-left">SIZE</p>
                            </div>
                            <a class="sizeXS" href="javascript:void(0);">@Html.Raw(Model.Size)</a>
                        </div>
                        <div class="tovar_view_btn">
                            
                            
                            

                            @if (Model.Quantity == 0)
                            {
                                <a disabled class="add_bag btn inactive" href="javascript:void(0);"><i class="fa fa-shopping-cart"></i>Sold out !</a>

                            }
                            else
                            {
                                <a onclick="addToCart(@Html.Raw(Model.Reference))" id="addToCat"class="add_bag btn inactive" href="javascript:void(0);"><i class="fa fa-shopping-cart"></i>Add to bag</a>

                            }
                        </div>

                    </div>
                </div><!-- //CLEARFIX -->
                <!-- TOVAR INFORMATION -->
                <div class="tovar_information">
                    <ul class="tabs clearfix">
                        <li class="current">Details</li>
                        <li>Reviews (2)</li>
                    </ul>
                    <div class="box visible">
                        <p>@Html.Raw(Model.Description)</p>
                    </div>

                    <div class="box">
                        <ul class="comments">
                            <li>
                                <div class="clearfix">
                                    <p class="pull-left"><strong><a href="javascript:void(0);">John Doe</a></strong></p>
                                    <span class="date">2013-10-09 09:23</span>
                                    <div class="pull-right rating-box clearfix">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                                <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <p class="pull-left"><strong><a href="javascript:void(0);">John Doe</a></strong></p>
                                    <span class="date">2013-10-09 09:23</span>
                                    <div class="pull-right rating-box clearfix">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>

                                <ul>
                                    <li>
                                        <p><strong><a href="javascript:void(0);">Jane Doe</a></strong></p>
                                        <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <h3>WRITE A REVIEW</h3>
                        <p>Now please write a (short) review....(min. 200, max. 2000 characters)</p>
                        <div class="clearfix">
                            <textarea id="review-textarea"></textarea>
                            <label class="pull-left rating-box-label">Your Rate:</label>
                            <div class="pull-left rating-box clearfix">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <input type="submit" class="dark-blue big" value="Submit a review">
                        </div>
                    </div>
                </div><!-- //TOVAR INFORMATION -->
            </div><!-- //TOVAR DETAILS WRAPPER -->
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</section><!-- //TOVAR DETAILS -->

@section scripts
{
    <script src="~/Content/js/toastr.min.js"></script>
<script src="~/Content/js/jquery-ui.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


        function addToCart(productId) {
            $.ajax({
                url:'@Url.Action("Add","Cart")',
                data: {
                    id:productId
                },
                type: 'POST',
                success:function(data) {
                    var response = JSON.parse(data);
                    console.log(response);
                    if (response.Code == 0) {

                        toastr["success"]("Added to cart !");
                        getCartItemsCount();
                        $("#cart").effect("shake");
                        renderCart();

                    } else {
                        toastr["error"](response.Message);
                    }
                }
            });

        };

       
    </script>
}
