@model domaine.entities.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BackOffice.cshtml";
}

@section title
{
    PRODUCTS
}


<div>
    <h4>Product detail</h4>
    <hr />
    <div class="back-to-list">
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Edit", "Edit", new { id = Model.Reference }) 
    </div>
    <br />
    <dl class="dl-horizontal">

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Marque
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marque)
        </dd>

        <dt>
            Modele
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modele)
        </dd>

        <dt>
            Sub Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sousCategorieProd.Libelle)
        </dd>

        <dt>
            Color
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            Size
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Photo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            Quantity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
