@model IEnumerable<domaine.entities.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackOffice.cshtml";
}

@section CSS
{
    <style>
        img {
            height: auto;
            width: 100px;
        }
    </style>
}

<h2>Index</h2>
<hr />

<p class="back-to-list">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped" >
    <tr>

        <th>
            Name
        </th>
        <th>
            Marque
        </th>
        <th>
            Modele
        </th>
        <th>
            SubCategory
        </th>
        <th>
            Color
        </th>
        <th>
            Size
        </th>
        <th>
            Price
        </th>
        <th>
            Description
        </th>
        <th>
            Photo
        </th>
        <th>
            Quantity
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modele)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sousCategorieProd.Libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <img class ="img-responsive img-rounded"src="@Url.Content("~/Content/Upload/")@Html.DisplayFor(Model=>item.Photo)"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td style="text-align: center;font-weight: bold">
            @Html.ActionLink("Edit", "Edit", new {id = item.Reference}) <br/>
            @Html.ActionLink("Details", "Details", new {id = item.Reference}) <br />
            @Html.ActionLink("Delete", "Delete", new {id = item.Reference})
        </td>
    </tr>
}

</table>
